@import url(./reset.css);

body {
  background: #161616;
  color: white;
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.links {
  font-size: 30px;
}

.rechts ul {
  display: flex;
  gap: 20px;
  padding-right: 70px;
}

figure img {
  height: 500px;
}

main {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 85%;
}

section {
  padding-top: 50px;
}

h1 {
  padding: 50px 0px;
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #4089ff, #5aafe4 50%, #00aceb);

  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

/* CSS */
.button-64 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 17px;
  height: 40px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-64:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.button-64:active {
  outline: 0;
}

.button-64:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-64 {
    height: 48px;
  }
}

.center {
  display: table;
  width: 100%;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}
#social-test h2 {
  color: #fff;
  font-size: 15px;

  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}
.social {
  padding-left: 0px;
}
footer li {
  color: rgba(65, 65, 65, 0.836);
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 1%;
  border: 1px solid rgba(65, 65, 65, 0.836);
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: ease 0.3s;
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

hr {
  width: 100%;
  height: 1px;

  border-color: rgba(65, 65, 65, 0.836);
}

/* header {
  border: rgba(65, 65, 65, 0.836) 2px solid;
  padding-left: 20px;
  padding-bottom: 30px;
} */

nav div img {
  height: 120px;
  border-radius: 3em;
}

